// Top bar.
.o_main_navbar {
    background: var(--t-navbar-bg) !important;
    box-shadow: var(--t-navbar-shadow);
    font-family: var(--t-navbar-font);

    .o_menu_toggle, .o_menu_brand, .o_bas_toggle,
    .o_menu_sections .o_nav_entry,
    .o_menu_sections .dropdown-toggle,
    .o_menu_systray .o_nav_entry,
    .o_menu_systray .dropdown-toggle,
    .o_menu_systray .o-dropdown > button,
    .o_menu_systray .o_switch_company_menu > button {
        color: var(--t-navbar-text) !important;
        &:hover {
            color: var(--t-navbar-text-hover) !important;
            background: var(--t-navbar-hover-bg);
        }
    }
    .o_menu_sections .dropdown-toggle.show,
    .o_menu_sections .o_nav_entry.show {
        color: var(--t-navbar-text-hover) !important;
        background: var(--t-navbar-hover-bg);
        box-shadow: inset 0 -3px 0 var(--t-navbar-marker);
    }
}
